In [4]:
import math, doctest

In [2]:
with open('input.txt', 'r') as f:
    raw_lines = f.readlines()

lines = [line.replace('\n', '').split() for line in raw_lines]

In [3]:
operations = lines[-1]
numbers = [[int(n) for n in line] for line in lines[:-1]]
# Check the lengths all make sense
len(operations), [len(line) for line in numbers]

(1000, [1000, 1000, 1000, 1000])

# Part 1

In [4]:
def squid_maths(operations, numbers):
    """
    >>> squid_maths(['*','+','*','+'], [[123,328,51,64], [45,64,387,23], [6,98,215,314]])
    4277556
    """
    total = 0

    for index, operation in enumerate(operations):
        if operation == '+':
            total += sum(line[index] for line in numbers)
        elif operation == '*':
            total += math.prod(line[index] for line in numbers)
        else:
            print(f'Invalid operation {operation} on line {index}')
    
    return total

doctest.testmod()

TestResults(failed=0, attempted=1)

In [ ]:
squid_maths(operations, numbers)

# Part 2

In [1]:
with open('input.txt', 'r') as f:
    raw_lines = f.readlines()

lines = [line.replace('\n', '') for line in raw_lines]

number_lines = lines[:-1]
operations = lines[-1]

[len(line) for line in lines] # Note these are all padded so they are the same

[3751, 3751, 3751, 3751, 3751]

In [ ]:
def new_maths(operations, number_lines):
    current_operation = ''
    totals = []
    this_total = 0
    for column_index in range(len(operations)):
        if operations[column_index] in ['+', '*'] or column_index == len(operations):
            # Save the last result and start afresh
            if column_index > 0:
                totals += [this_total]
            current_operation = operations[column_index]
            this_total = 0 if current_operation == '+' else 1
            operator = sum if current_operation == '+' else math.prod

        remade_number = ''.join(line[column_index] for line in number_lines)

        if remade_number.replace(' ', '') != '':
            this_total = operator([this_total, int(remade_number)])

    # The last total has not yet been added, so add it to the final result
    return totals + [this_total]

In [13]:
example = '''123 328  51 64 
 45 64  387 23 
  6 98  215 314
*   +   *   +  
'''

new_maths('*   +   *   +  ', ['123 328  51 64 ', ' 45 64  387 23 ', '  6 98  215 314'])

[8544, 625, 3253600, 1058]

In [ ]:
sum(new_maths(operations, number_lines))